@font-face {
    font-family: Dapper;
    src: url('./my-font.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    font-family: Dapper;
    height: 200px;
}